.aboutContainer {
  min-height: 100vh;
  background-color: #0e0d0d;
  margin-top: 5rem;

  /* Dans votre fichier SCSS (style.module.scss) */
  .section1 {
    position: relative;
    width: 100%;
    height: 50rem; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;

    .backgroundVideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(80%);
      -webkit-filter: brightness(80%);
    }
    .section1content {
      position: relative;
      z-index: 100;
      text-align: left;
      padding: 40px;
      width: 70%;
      height: auto;
      margin: 10% auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        font-weight: 800;
        color: #ffd67d;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      }

      p {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        line-height: 1.7rem;
        font-weight: 700;
      }

      .solutionsLogos {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 4rem;
      }
    }
  }

  .section2 {
    min-height: 50rem;
    background-color: #ffffff;
    background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1061984716.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 0rem 2rem;
    background-attachment: fixed;
    padding-bottom: 6rem;

    .section2content {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        font-weight: 800;
        color: #870bff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      p {
        color: black;
        font-size: 1.1rem;
        margin-bottom: 2rem;
        line-height: 1.7rem;
        font-weight: 400;
      }
    }
  }

  .section3 {
    min-height: 40rem;
    background-color: #fffaf0;
    background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1036695203.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;

    .section3content {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      video {
        width: 120%;
        height: auto;
        border-radius: 10px;
        box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.476);
        margin-top: -10rem;
        margin-bottom: 3rem;
      }

      .mainImage {
        width: 70%;
        height: auto;
        margin-top: -9rem;
        border-radius: 10px;
        box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.476);
      }

      .section3cards {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.476);
          margin-bottom: 5rem;
        }
      }

      .seeSolutions {
        color: white;
        background-color: #870bff;
        padding: 1rem 2rem;
        text-align: center;
        width: 20rem;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        border: 1px solid #870bff;
        color: white;
        cursor: pointer;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        &:hover {
          background-color: white;
          color: #870bff;
        }
      }
    }
  }

  .section4 {
    min-height: 60rem;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section4content {
      width: 80%;
      height: 100%;
      display: flex;
      margin: 0 auto;
      background-color: white;
      border-radius: 30px;
      border: 1px solid #cfcfcf;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .left {
        width: 60%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 1.2rem;
          margin-bottom: 2.5rem;
          font-weight: 400;
          color: black;
        }

        h1 {
          font-size: 3.5rem;
          margin-bottom: 2.5rem;
          font-weight: 800;
          color: #870bff;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        p {
          color: black;
          font-size: 1.1rem;
          margin-bottom: 1rem;
          line-height: 1.7rem;
          font-weight: 400;
        }

        a {
          background-color: #870bff;
          color: white;
          border-radius: 30px;
          padding: 1rem 2rem;
          width: 180px;
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          margin-bottom: 1rem;
          margin-top: 1rem;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          &:hover {
            background-color: white;
            color: #870bff;
            border: 1px solid #870bff;
          }
        }

        .leftBottom {
          display: flex;

          flex-direction: column;
          margin-top: 2rem;

          img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            margin-bottom: 1rem;
          }
        }
      }

      .right {
        width: 40%;
        height: auto;
        background-image: url(https://uploads.pixecurity.com/files/test3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 30px 30px 0;
        -webkit-border-radius: 0 30px 30px 0;
        -moz-border-radius: 0 30px 30px 0;
        -ms-border-radius: 0 30px 30px 0;
        -o-border-radius: 0 30px 30px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutContainer {
    .section1 {
      height: 40rem;
      .section1content {
        width: 85%;
      }
    }

    .section2 {
      min-height: 60rem;
      padding: 0rem 1rem;
      padding-bottom: 5rem;
      .section2content {
        width: 90%;
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }

    .section3 {
      min-height: 30rem;
      .section3content {
        .mainImage {
          margin-top: -6rem;
          width: 40rem;
        }
        video {
          width: 100%;
        }
        .seeSolutions {
          width: 20rem;
          font-size: 1rem;
        }
      }
    }

    .section4 {
      min-height: 60rem;
      .section4content {
        .left {
          width: 70%;
          h2 {
            font-size: 1rem;
          }
          h1 {
            font-size: 3rem;
          }
          p {
            font-size: 1rem;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutContainer {
    .section1 {
      height: 35rem;
      .section1content {
        width: 85%;
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
        .solutionsLogos {
          gap: 1rem;

          img {
            width: 5rem;
            height: auto;
          }
        }
      }
    }

    .section2 {
      .section2content {
        width: 90%;
        padding-bottom: 5rem;
        h1 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }

    .section3 {
      min-height: 20rem;
      .section3content {
        padding: 1rem;
        .mainImage {
          width: 100%;
        }

        .section3cards {
          grid-template-columns: repeat(1, 1fr);
          width: 100%;
          gap: 1rem;
        }
      }
    }

    .section4 {
      min-height: 80vh;
      padding: 2rem 0rem;
      margin: none;
      .section4content {
        width: 95%;
        .left {
          width: 70%;
          h2 {
            font-size: 1rem;
          }
          h1 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1rem;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .aboutContainer {
    .section1 {
      .backgroundVideo {
        min-height: 30rem;
      }

      .section1content {
        width: 80%;
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
        .solutionsLogos {
          gap: 1rem;

          img {
            width: 3rem;
            height: auto;
          }
        }
      }
    }

    .section2 {
      min-height: 120vh;
      .section2content {
        width: 90%;
        padding-bottom: 5rem;
        h1 {
          padding-top: 2rem;
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }

    .section3 {
      min-height: 10rem;
      .section3content {
        padding: 1rem;
        .mainImage {
          width: 100%;
        }

        .section3cards {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    .section4 {
      min-height: 80vh;
      padding: 2rem 0rem;
      margin: none;
      .section4content {
        width: 95%;
        .left {
          width: 70%;
          h2 {
            font-size: 1rem;
          }
          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
