.countdownContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  height: 100%;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 01rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(241, 241, 241, 0.205);

    .countdownItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      width: 4.5rem;
      height: 5rem;
      

      .countdownNumber {
        display: block;
        font-size: 2.5rem;
        font-weight: 600;
        color: #870bff;
        background-color: rgba(241, 241, 241, 0.856);
        padding: 0.5rem 0.7rem;
        border-radius: 5px;
      }

      .unitLabel {
        color: #ffffff;
        font-size: 0.9rem;
        margin-top: 0.3rem;
        text-transform: uppercase;
        border : none;
      }
    }
  }
}

@media (max-width: 1080px) {
  .countdownContainer {
    padding-bottom: 3rem;
    h2 {
      font-size: 2.5rem;
    }

    .countdown {
      font-size: 1.2rem;
      padding: 1rem;
      .countdownItem {
        .countdownNumber {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .countdownContainer {
    padding-top: 2rem;
    h2 {
      font-size: 2rem;
    }

    .countdown {
      font-size: 1rem;
      padding: 0.7rem;
      .countdownItem {
        .countdownNumber {
          font-size: 1.5rem;
        }
      }
    }
  }
}
