.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #f2edeb;
  background-color: #03084e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 20px;
  height: 5rem;

  .headerLogo {
    padding-left: 1rem;
    img {
      width: 6rem;
      height: 4.5rem;
      cursor: pointer;

      transition: 0.3s;

      &:hover {
        scale: 1.03;
      }
    }
  }

  .burgerMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 35px;
    cursor: pointer;
    z-index: 1100;

    .line {
      width: 35px;
      height: 4px;
      // background-color:#d29ae5.
      background-color: white;
      border-radius: 2px;
    }
  }

  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      gap: 1rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: white;
          padding: 10px 15px;
          width: 12rem;
          text-align: center;
          border-radius: 5px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;

          &:hover {
            background-color: #a638ff;
            color: white;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
           
}
        }
        .linkedinIcon {
          border: none;
          width: 3rem;
          padding-right: 3rem;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    height: 5rem;

    .headerLogo {
      img {
        width: 4.7rem;
      height: 3.5rem;
      }
    }
    .burgerMenu {
      display: flex;
      padding-right: 4rem;
    }

    .headerLinks {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.873);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      ul {
        flex-direction: column;

        li a {
          color: white;
          font-size: 1rem;
        }
        .linkedinIcon {
          border: none;
          position: absolute;
          top: 4rem;
          right: -0.8rem;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
