@keyframes floatEffect {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.rseContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  min-height: 100vh;
  background-color: #000000;

  .section1 {
    height: 90vh;
    background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1465958397.webp);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    justify-content: center;

    .section1content {
      // background-color: rgba(255, 255, 255, 0.798);
      width: 50%;
      padding: 2rem;
      border-radius: 1em;
      // box-shadow: 0px 0px 10px #0000004b;

      h1 {
        font-size: 3.2rem;
        color: #ffd67d;
        font-weight: 800;
        line-height: 2.9rem;
      }

      p {
        font-size: 1.1rem;
        color: white;
        margin-top: 3rem;
        line-height: 2.2rem;
      }

      // .mouseScrollCont {
      //   position: absolute;
      //   bottom: 3%;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   .mouse {
      //     width: 25px;
      //     height: 40px;
      //     border: 2px solid #333;
      //     border-radius: 60px;
      //     position: relative;
      //     overflow: hidden;
      //   }
      //   .mouse::before {
      //     content: "";
      //     width: 5px;
      //     height: 5px;
      //     position: absolute;
      //     top: 7px;
      //     left: 50%;
      //     transform: translateX(-50%);
      //     background-color: #333;
      //     border-radius: 50%;
      //     opacity: 1;
      //     animation: wheel 1.3s infinite;
      //     -webkit-animation: wheel 1.3s infinite;
      //   }

      // // animation for the wheel
      // @keyframes wheel {
      //   0% {
      //     top: 7px;
      //     opacity: 1;
      //   }
      //   50% {
      //     top: 20px;
      //     opacity: 0.5;
      //   }
      //   100% {
      //     top: 7px;
      //     opacity: 1;
      //   }
      // }
      // }
    }
  }

  .section2 {
    background: linear-gradient(80deg, #081324 0%, #215b90 100%);
    background-size: cover;
    background-repeat: no-repeat;
    .section2content {
      max-width: 1400px;
      width: 100%;
      margin: auto;
      font-size: 1.2rem;
      text-align: justify;
      margin-top: 3rem;
      text-align: center;

      h2 {
        line-height: 3rem;
        margin-bottom: 0.5em;
        color: #ffd67d;
        font-size: 2.7em;
        font-weight: 700;
        margin-top: 4.5rem;
      }
      p {
        margin-bottom: 2em;
        font-size: 1.1rem;
        line-height: 2rem;
        color: white;
      }
    }

    .ourActions {
      padding: 5em 4em 10em 4em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      max-width: 1400px;

      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;

      .actionCards {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: rgb(248, 247, 247);
        text-align: center;
        box-shadow: 1px 1px 10px #56565639;
        overflow: hidden;
        border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;

        img {
          width: 100%;
          height: 20em;
          object-fit: cover;
          border-radius: 0.5em 0.5rem 0 0;
          transition: transform 0.3s ease;
          -webkit-border-radius: 0.5em 0.5rem 0 0;
          -moz-border-radius: 0.5em 0.5rem 0 0;
          -ms-border-radius: 0.5em 0.5rem 0 0;
          -o-border-radius: 0.5em 0.5rem 0 0;
        }

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
          padding: 1rem;
          color: #870bff;
          text-transform: uppercase;
          z-index: 2;
          background-color: rgb(248, 247, 247);
          justify-content: center;
          align-items: center;
          align-self: center;
          align-content: center;
        }

        ul {
          text-align: left;
          position: absolute;
          top: 40;
          left: 0;
          right: 0;
          bottom: 5%;
          background-color: rgba(248, 247, 247, 0.9);
          font-size: 1.1em;
          height: 100%;
          color: rgb(78, 78, 78);
          line-height: 1.4em;
          font-weight: 500;
          padding: 1rem;
          margin: 0;
          opacity: 0;
          transform: translateY(100%);
          transition: all 0.3s ease;
          z-index: 1;
          align-items: center;
          align-self: center;
          align-content: center;
        }

        li {
          margin-bottom: 0.5em;
          font-size: 1rem;
          line-height: 1.5rem;
          // list style check
          list-style: none;
          position: relative;
          padding-left: 1.5em;

          &::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: #870bff;
            font-weight: bold;
          }
        }

        &:hover ul {
          opacity: 1;
          transform: translateY(0);
        }
      }

      // media queries
      @media screen and (max-width: 1100px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .section3 {
    height: 40rem;
    background-image: url(https://uploads.pixecurity.com/files/CSR_unity.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;

    .section3content {
      background-color: #ffffff9b;
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;

      h2 {
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 0.5em;
        color: #870bff;
        font-size: 2.7em;
        font-weight: 700;
        max-width: 1400px;
      }
      p {
        margin-bottom: 2em;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2rem;
        color: black;
        text-align: center;
        max-width: 1400px;
      }

      .section3grid {
        display: flex;

        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        max-width: 1400px;

        .section3left,
        .section3right {
          width: 50%;
          height: 100%;

          h3 {
            font-size: 1.3rem;
            font-weight: 600;
            padding: 1rem;
            color: #870bff;
            text-transform: uppercase;
            background-color: rgba(248, 247, 247, 0.777);
            justify-content: center;
            align-items: center;
            align-self: center;
            align-content: center;
          }

          ul {
            margin-top: 3rem;
          }
          li {
            margin-bottom: 2em;
            font-size: 1.2rem;
            line-height: 1.5rem;
            list-style: none;
            position: relative;
            padding-left: 1.5em;
            color: black;

            &::before {
              content: "✔";
              position: absolute;
              left: 0;
              color: #870bff;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .section4 {
    height: 50rem;
    display: flex;
    flex-direction: column;
    background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1171912870.webp);
    background-size: 120%;
    background-repeat: no-repeat;

    background-position: 100% 0%;

    .section4content {
      padding-top: 3rem;

      border-radius: 1em;
      display: flex;
      flex-direction: column;
      max-width: 1400px;

      width: 40%;
      position: relative;
      top: 10%;
      left: 50%;

      h2 {
        color: #ffd67d;
        font-size: 3.2em;
        font-weight: 700;
      }

      p {
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 1200px) {
    .section1 {
      height: 100vh;
      padding: 0rem 2rem;
      justify-content: center;

      .section1content {
        h1 {
          font-size: 3.3em;

          font-weight: 800;
          margin-top: 2rem;
        }

        p {
          margin-top: 3rem;

          line-height: 2.2rem;
        }
      }
    }

    .section2 {
      .section2content {
        width: 90%;
        margin: auto;
        font-size: 1.2rem;
        text-align: justify;
        margin-top: 3rem;
        text-align: center;

        h2 {
          line-height: 3.5rem;
          margin-bottom: 0.5em;
          margin-top: 3rem;
        }
        p {
          margin-bottom: 2em;
        }
      }

      .ourActions {
        padding: 5em 2em 10em 2em;
      }
    }

    .section3 {
      height: 43rem;

      .section3content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          margin-bottom: 0.5em;
        }
        ul {
          margin-top: 3rem;
        }
        li {
          margin-bottom: 2em;
          font-size: 1.2rem;
          line-height: 1.5rem;
          list-style: none;
          position: relative;
          padding-left: 1.5em;
          color: black;

          &::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: #009fe3;
            font-weight: bold;
          }
        }
      }
    }

    .section4 {
      height: 40rem;
      background-size: cover;

      .section4content {
        left: 43%;
        top: 0%;
        width: 45%;

        h2 {
          max-width: 1400px;

          font-size: 2.5em;
          font-weight: 700;
        }

        p {
          max-width: 1400px;
          margin-top: 2rem;
          font-size: 1.2rem;
          line-height: 2rem;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .section1 {
      height: 90vh;
      padding: 0 1rem;
      justify-content: center;
      background-position: 40%;

      .section1content {
        width: 90%;
        h1 {
          font-size: 2.5rem;

          font-weight: 800;
          margin-top: 0rem;
        }

        p {
          font-size: 1.1rem;

          margin-top: 3rem;
          width: 70%;
          line-height: 2.2rem;
        }
      }
    }

    .section2 {
      .section2content {
        width: 90%;
        margin: auto;
        font-size: 1.2rem;
        text-align: justify;
        margin-top: 3rem;
        text-align: center;

        h2 {
          line-height: 3.5rem;
          margin-bottom: 0.5em;

          font-size: 2.2em;
          font-weight: 700;
          margin-top: 3rem;
        }
        p {
          margin-bottom: 2em;
          font-size: 1.1rem;
          line-height: 2rem;
        }
      }

      .ourActions {
        padding: 5em 1em 10em 1em;
      }
    }

    .section3 {
      height: auto;

      .section3content {
        .section3grid {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          margin: 2rem 0;

          h2 {
            margin-bottom: 0.5em;

            font-size: 2.2em;
            font-weight: 700;
            text-align: center;
          }
          .section3left,
          .section3right {
            width: 100%;
            height: 100%;
          }
        }

        ul {
          margin-top: 3rem;
        }
        li {
          margin-bottom: 2em;
          font-size: 1.2rem;
        }
      }
    }

    .section4 {
      height: 40rem;

      .section4content {
        border-radius: 1em;
        width: 60%;
        left: 20%;

        h2 {
          max-width: 1400px;

          font-size: 2.5em;
          font-weight: 700;
        }

        p {
          max-width: 1400px;
          margin-top: 2rem;
          font-size: 1.2rem;
          line-height: 2rem;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .section1 {
      height: auto;
      padding-bottom: 2rem;
      background-position: 50%;

      .section1content {
        padding-left: 1rem;
        h1 {
          font-size: 2.1rem;
          width: 90%;
        }
      }
    }

    .section2 {
      .section2content {
        width: 90%;
        margin: auto;
        font-size: 1.2rem;
        text-align: justify;
        margin-top: 3rem;
        text-align: center;

        h2 {
          line-height: 3rem;
          margin-bottom: 0.5em;
          font-size: 1.9rem;
          font-weight: 700;
          margin-top: 3rem;
        }
        p {
          margin-bottom: 2em;
          font-size: 1.3rem;
          line-height: 2rem;
        }
      }

      .ourActions {
        padding: 5em 1em 10em 1em;
      }
    }

    .section3 {
      height: 75rem;

      .section3content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          margin-bottom: 0.5em;
           font-size: 1.9rem;
          font-weight: 700;
          text-align: center;
        }
        ul {
          margin-top: 3rem;
        }
        li {
          margin-bottom: 2em;
          font-size: 1.2rem;
          line-height: 1.5rem;
          list-style: none;
          position: relative;
          padding-left: 1.5em;
          color: black;

          &::before {
            content: "✔";
            position: absolute;
            left: 0;
            color: #009fe3;
            font-weight: bold;
          }
        }
      }
    }
    .section4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .section4content {
        border-radius: 1em;
        width: 80%;
        left: 10%;
        top: -15%;

        h2 {
          max-width: 1400px;
          font-size: 2rem;
          font-weight: 700;
        }

        p {
          max-width: 1400px;
          margin-top: 2rem;
          font-size: 1.2rem;
          line-height: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}
