.befrostContainer {
  min-height: 100vh;
  margin-top: 3rem;
  background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.452)),
    url(https://uploads.pixecurity.com/files/AdobeStock_1091490449.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    font-size: 2.5em;
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-weight: 800;
    background: linear-gradient(90deg, #58eff6 0%, #04fb8c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .headerSection {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 5rem 2rem;

    .header1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 1400px;
      margin: auto;

      img {
        width: 18rem;
        height: auto;
      }

      p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        line-height: 2rem;
      }
    }
    .header2 {
      display: flex;
      max-width: 1400px;
      margin: 6rem auto;
      gap: 2rem;

      .card {
        width: 23%;
        background-color: #00000088;
        height: 28rem;
        border-radius: 1rem;
        box-shadow: inset 0px 0px 10px #000000, 0px 0px 10px #000000;

        h2 {
          height: 2rem;
          font-size: 1.5rem;
          padding: 1rem 1rem;
          font-weight: 800;
          // color: #ff7f50; /* Fallback solid color */
          background: linear-gradient(90deg, #58eff6 0%, #04fb8c 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
        }
        .cardImg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 25rem;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 0rem 0rem 1rem 1rem;
            -webkit-border-radius: 0rem 0rem 1rem 1rem;
            -moz-border-radius: 0rem 0rem 1rem 1rem;
            -ms-border-radius: 0rem 0rem 1rem 1rem;
            -o-border-radius: 0rem 0rem 1rem 1rem;
          }
        }
      }
      & > .card:hover {
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
}
      & > .card:active {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    }
  }
}
