.ravenContainer {
  min-height: 100vh;
  margin-top: 3rem;
  background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.452)),
    url(https://uploads.pixecurity.com/files/AdobeStock_1263764734.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    font-size: 2.5em;
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-weight: 800;
    background: linear-gradient(90deg, #fa0071 0%, #7600c1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    padding: 1.5rem 0rem;
    font-weight: 700;
  color : #fa0072;
  }

  .headerSection {
    // background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.452)),
    //   url(https://uploads.pixecurity.com/files/AdobeStock_1263764734.png);
    // background-size: cover;
    // background-position: right;
    width: 100%;
    padding-top: 3.5rem;

    .header1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2rem 2rem;
      max-width: 1400px;
      margin: auto;

      img {
        width: 13rem;
        height: auto;
      }

      p {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        line-height: 2rem;
      }
    }
    .section1 {
      display: flex;
      max-width: 1400px;
      margin: auto;

      .section1Left {
        width: 50%;
        padding: 2rem 0rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

 

        p {
          font-size: 1.2rem;
          margin-bottom: 2.8rem;
          line-height: 2rem;
        }
      }

      .section1Right {
        width: 50%;
        padding: 2rem 0rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      img {
        object-fit: cover;
        width: 40rem;
        height: 30rem;
        box-shadow: 5px 5px 50px #587fff57;
        border-radius: 26% 74% 75% 25% / 51% 65% 35% 49%;
        -webkit-border-radius: 26% 74% 75% 25% / 51% 65% 35% 49%;
        -moz-border-radius: 26% 74% 75% 25% / 51% 65% 35% 49%;
        -ms-border-radius: 26% 74% 75% 25% / 51% 65% 35% 49%;
        -o-border-radius: 26% 74% 75% 25% / 51% 65% 35% 49%;
      }
    }
    .section2 {
      display: flex;
      max-width: 1400px;
      margin: auto;
      margin-top: -4rem;

      .section2Left {
        width: 50%;
        padding: 2rem 0rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          font-size: 1.2rem;
          margin-bottom: 2.8rem;
          line-height: 2rem;
        }
        h3 {
          font-size: 3rem;
          margin-top: 5rem;
          font-weight: 800;
          color: white;
         text-shadow :  #fa0071 0px 0px 5px, #7600c1 0px 0px 10px, #fa0071 0px 0px 15px;  

        }
      }

      .section2Right {
        width: 50%;
        padding: 2rem 0rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      img {
        object-fit: cover;
        width: 40rem;
        height: 40rem;
        box-shadow: 5px 5px 50px #587fff57;
        border-radius: 71% 29% 33% 67% / 72% 42% 58% 28% ;      ;
        -webkit-border-radius: 71% 29% 33% 67% / 72% 42% 58% 28% ;
        -moz-border-radius: 71% 29% 33% 67% / 72% 42% 58% 28% ;
        -ms-border-radius: 71% 29% 33% 67% / 72% 42% 58% 28% ;
        -o-border-radius: 71% 29% 33% 67% / 72% 42% 58% 28% ;
}
    }
  }
}
