.aboutContainer {
  min-height: 100vh;
  background-color: #0e0d0d;
  margin-top: 5rem;

  /* Dans votre fichier SCSS (style.module.scss) */
  .section1 {
    position: relative;
    width: 100%;
    height: 75vh; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;

    .backgroundVideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Assure que la vidéo couvre toute la section */
    }
    .section1content {
      position: relative;
      z-index: 1; /* Place le contenu au-dessus de la vidéo */
      text-align: left;
      padding: 20px;
      width: 65%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
        font-weight: 800;
        color: #f0a500;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      p {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        line-height: 1.7rem;
        font-weight: 700;
      }
    }
  }

  .section2 {
    min-height: 90vh;
    background-color: #ffffff;
    background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1061984716.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    .section2content {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
        font-weight: 800;
        color: #870bff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      p {
        color: black;
        font-size: 1.1rem;
        margin-bottom: 2rem;
        line-height: 1.7rem;
        font-weight: 400;
      }
    }
  }

  .section3 {
    min-height: 90vh;
    background-color: #fffaf0;
    background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1036695203.png);
    background-size: cover;
    display: flex;
    flex-direction: column;

    .section3content {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      .mainImage {
        width: 50rem;
        margin-top: -9rem;
        border-radius: 10px;
        box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.476);
      }

      .section3cards {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          box-shadow: 10px 1px 50px rgba(0, 0, 0, 0.476);
        }
      }
    }
  }

  .section4 {
    min-height: 80vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section4content {
      width: 80%;
     height : 100%;
      display: flex;
      margin: 0 auto;
      background-color: white;
      border-radius: 30px;
      border: 1px solid #cfcfcf;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .left {
        width: 60%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        //   <h2>
        //   Lorem : ipsum dolor , alias vel, dicta dignissimos nesciunt
        //   error numquam voluptates, distinctio corporis saepe commodi ab
        //   qui magni. Voluptatem natus cum tenetur repellendus explicabo?
        // </h2>

        // <h1>Sit amet consectetur adipisicing elit aspernatur</h1>
        // <p>
        //   "alias vel, dicta dignissimos nesciunt error numquam voluptates,
        //   distinctio corporis saepe commodi ab qui magni"
        // </p>
        // <Link href="/contact">Distinctio</Link>
        // <span>Dicta dignissimos</span>
        // <p>Distinctio corporis saepe commodi ab qui </p>

        h2 {
          font-size: 1.2rem;
          margin-bottom: 2.5rem;
          font-weight: 400;
          color: black;
        }

        h1 {
          font-size: 3.5rem;
          margin-bottom: 2.5rem;
          font-weight: 800;
          color: #870bff;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        p {
          color: black;
          font-size: 1.1rem;
          margin-bottom: 1rem;
          line-height: 1.7rem;
          font-weight: 400;
        }

        a {
          background-color: #870bff;
          color: white;
          border-radius: 30px;
          padding: 1rem 2rem;
          width: 180px;
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          margin-bottom: 1rem;
          margin-top: 1rem;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          &:hover {
            background-color: white;
            color: #870bff;
            border: 1px solid #870bff;
          }
        }

        .leftBottom {
          display: flex;

          flex-direction: column;
          margin-top: 2rem;

          img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            margin-bottom: 1rem;
          }
        }
      }

      .right {
        width: 40%;
        height: auto;
        background-image: url(https://uploads.pixecurity.com/files/test3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 30px 30px 0;
        -webkit-border-radius: 0 30px 30px 0;
        -moz-border-radius: 0 30px 30px 0;
        -ms-border-radius: 0 30px 30px 0;
        -o-border-radius: 0 30px 30px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutContainer {
    .section1 {
      .section1content {
        width: 90%;
      }
    }

    .section2 {
      .section2content {
        width: 90%;
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }

    .section3 {
      min-height : 70vh;
      .section3content {
        .mainImage {
          width: 40rem;
        }
      }
    }

    .section4 {
      min-height: 110vh;
      .section4content {
        .left {
          width: 70%;
          h2 {
            font-size: 1rem;
          }
          h1 {
            font-size: 3rem;
          }
          p {
            font-size: 1rem;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
