@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem;

  overflow-x: hidden; // Empêche les débordements horizontaux
  // background-attachment: fixed; /* Ajout pour parallax */
  .background {
    // position: fixed;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #39167a;
    overflow: hidden;

    span {
      width: 15vmin;
      height: 15vmin;
      border-radius: 15vmin;
      backface-visibility: hidden;
      position: absolute;
      animation: move;
      animation-duration: 45;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      -webkit-border-radius: 15vmin;
      -moz-border-radius: 15vmin;
      -ms-border-radius: 15vmin;
      -o-border-radius: 15vmin;
    }

    span:nth-child(0) {
      color: #e45a84;
      top: 46%;
      left: 73%;
      animation-duration: 11s;
      animation-delay: -39s;
      transform-origin: 10vw -10vh;
      box-shadow: -34vmin 0 4.558398178700208vmin currentColor;
    }
    span:nth-child(1) {
      color: #e45a84;
      top: 30%;
      left: 27%;
      animation-duration: 7s;
      animation-delay: -42s;
      transform-origin: -7vw -5vh;
      box-shadow: 34vmin 0 5.183379098792598vmin currentColor;
    }
    span:nth-child(2) {
      color: #583c87;
      top: 1%;
      left: 80%;
      animation-duration: 43s;
      animation-delay: -4s;
      transform-origin: 8vw -4vh;
      box-shadow: 34vmin 0 4.7506736502125255vmin currentColor;
    }
    span:nth-child(3) {
      color: #583c87;
      top: 31%;
      left: 91%;
      animation-duration: 17s;
      animation-delay: -31s;
      transform-origin: -8vw 18vh;
      box-shadow: 34vmin 0 4.527566155499961vmin currentColor;
    }
    span:nth-child(4) {
      color: #583c87;
      top: 39%;
      left: 93%;
      animation-duration: 15s;
      animation-delay: -47s;
      transform-origin: 4vw -10vh;
      box-shadow: 34vmin 0 4.429449872681882vmin currentColor;
    }
    span:nth-child(5) {
      color: #583c87;
      top: 55%;
      left: 95%;
      animation-duration: 33s;
      animation-delay: -17s;
      transform-origin: -18vw 23vh;
      box-shadow: 34vmin 0 4.349412219730785vmin currentColor;
    }
    span:nth-child(6) {
      color: #e45a84;
      top: 80%;
      left: 10%;
      animation-duration: 6s;
      animation-delay: -34s;
      transform-origin: -20vw -16vh;
      box-shadow: -34vmin 0 4.355934613340526vmin currentColor;
    }
    span:nth-child(7) {
      color: #ffacac;
      top: 8%;
      left: 97%;
      animation-duration: 16s;
      animation-delay: -35s;
      transform-origin: -9vw -17vh;
      box-shadow: 34vmin 0 5.114350465528703vmin currentColor;
    }
    span:nth-child(8) {
      color: #e45a84;
      top: 3%;
      left: 35%;
      animation-duration: 52s;
      animation-delay: -14s;
      transform-origin: -21vw 14vh;
      box-shadow: 34vmin 0 4.8347058333820225vmin currentColor;
    }
    span:nth-child(9) {
      color: #583c87;
      top: 9%;
      left: 66%;
      animation-duration: 40s;
      animation-delay: -50s;
      transform-origin: -21vw 10vh;
      box-shadow: 34vmin 0 4.692544933522685vmin currentColor;
    }
    span:nth-child(10) {
      color: #e45a84;
      top: 91%;
      left: 95%;
      animation-duration: 46s;
      animation-delay: -19s;
      transform-origin: -14vw 11vh;
      box-shadow: 34vmin 0 4.920284193518419vmin currentColor;
    }
    .background span:nth-child(11) {
      color: #ffacac;
      top: 80%;
      left: 14%;
      animation-duration: 29s;
      animation-delay: -25s;
      transform-origin: -12vw 15vh;
      box-shadow: -34vmin 0 4.296480812939585vmin currentColor;
    }
    .background span:nth-child(12) {
      color: #ffacac;
      top: 74%;
      left: 18%;
      animation-duration: 42s;
      animation-delay: -36s;
      transform-origin: -24vw 2vh;
      box-shadow: 34vmin 0 5.215245349310781vmin currentColor;
    }
  }
  .teamHero {
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 80vh;
    display: flex;

    .heroContent {
      height: 100%;
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      .heroLeft {
        width: 100%;
        padding: 2rem;

        h1 {
          font-size: 3.3rem;
          margin-bottom: 1rem;
          font-weight: 800;
          color: #f0a500;
        }
        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-top: 1rem;
          margin-bottom: 3rem;
          color: #ffffff;
        }
        p {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.6;
          color: #ffffff;
        }
      }

      .heroRight {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          border-radius: 50%;
          width: 250px;
          height: 250px;
          object-fit: cover;
          margin-bottom: 1rem;
          border: 4px solid #f0a500;
        }

        h2 {
          margin-top: 1rem;
          font-size: 1.5rem;
          color: #f0a500;
        }

        p {
          margin-top: 0.5rem;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}

.teamMembersIntro {
  background-image: url(https://uploads.pixecurity.com/files/photo-1566140967404-b8b3932483f5.jpg);
  background-size: cover;
  background-attachment: fixed; /* Ajout pour parallax */
  width: 100%;
  height: 60vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  h1 {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  p {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.7rem;
    font-weight: 800;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}
.teamMembers {
  background-color: #fffaf0;
  background-image: url(https://uploads.pixecurity.com/files/AdobeStock_1083240270.webp);
  min-height: 100vh;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.5rem;
    margin-top: 4rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: black;
  }

  .imgLogo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: zoom 2s infinite;
    -webkit-animation: zoom 2s infinite;
  }

  .teamMemberContent {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    padding: 3rem 0;

    .teamMember {
      background-color: #ffff;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      vertical-align: middle;
      flex: 1 1 200px;
      transition: transform 0.2s, box-shadow 0.2s;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 4px solid #f0a500;
      }

      h2 {
        color: #870bff;
        font-size: 1.4rem;
        font-weight: 600;
      }

      p {
        color: rgb(42, 42, 42);
        margin-top: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .teamHero {
    margin: 2rem auto;
    .heroContent {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      .heroLeft {
        width: 100%;

        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 1.2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .heroRight {
        width: 100%;
        img {
          width: 150px;
          height: 150px;
        }
        h2 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  .teamMembersIntro {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .teamMembers {
    p {
      font-size: 1.2rem;
    }
    .teamMemberContent {
      padding: 1rem;
      .teamMember {
        img {
          width: 150px;
          height: 150px;
        }
        h2 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .teamHero {
    .background {
      height: 120vh;
    }
    .heroContent {
      .heroLeft {
        h1 {
          font-size: 2rem;
        }
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
      .heroRight {
        img {
          width: 100px;
          height: 100px;
        }
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  .teamMembersIntro {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .teamMembers {
    p {
      font-size: 1rem;
    }
    .teamMemberContent {
      .teamMember {
        img {
          width: 100px;
          height: 100px;
        }
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
