.atnaContainer {
  min-height: 100vh;
  margin-top: 3rem;

  h2 {
    font-size: 2.5em;
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-weight: 800;
    // color: #ff7f50; /* Fallback solid color */
    background: linear-gradient(90deg, #f4a8fe 0%, #696dff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .atnaSolution {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerSection {
      background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.452)),
        url(https://uploads.pixecurity.com/files/AdobeStock_1083240270.webp);
      background-size: cover;
      background-position: right;
      width: 100%;
      background-attachment: fixed;
    

      .header1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 2rem;
        max-width: 1400px;
        margin: auto;
     

        img {
          width: 9.5rem;
          height: auto;
        }

        p {
          font-size: 1.2rem;
          margin: 0.5rem 0;
          line-height: 2rem;
        }
      }
      .header2 {
        display: flex;  
        max-width: 1400px;
        margin: auto;
        

        .header2Left {
          width: 50%;
          padding: 2rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
      

          h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 800;

            background: linear-gradient(90deg, #f4a8fe 0%, #696dff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p {
            font-size: 1.2rem;
            margin-bottom: 2.8rem;
            line-height: 2rem;
          }
        }

        .header2Right {
          width: 50%;
          padding: 2rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
          height: auto;
          margin: 2rem 0;
        }
      }
    }

    .section1 {
      background: linear-gradient(90deg, #000000, rgb(50, 50, 50));
      width: 100%;
      padding: 3rem 1rem;

      .section1Content {
     
        height: 100%;
        display: flex;
        margin: auto;

        
        .section1Right {
         
          width: 50%;
          padding: 0rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
          height: auto;
          margin: 2rem 0;
   
        
        }
        .section1Left {
          width: 50%;
          padding-left: 10%;


    
          .section1Card {
           
          padding: 0rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 10%;

          p {
            font-size: 1.2rem;
            margin: 2rem 0;
            line-height: 2rem;
          }

          ul {
            list-style-type: " \2713";
            padding: 0;
            margin: 0;
            font-size: 1.2rem;
            line-height: 2rem;
            margin-left: 2rem;
            li {
              margin-bottom: 2rem;
              position: relative;
              padding-left: 1.5rem;
              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.5rem;
                width: 0.5rem;
                height: 0.5rem;
   
                border-radius: 50%;
              }
            }}}
        }
      }
    }

    .section6 {
      background: linear-gradient(90deg, #000000, rgb(50, 50, 50));
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 5rem 0rem;
      height: 100%;

      .section6content {
        max-width: 1400px;
        position: relative;
        padding: 0 1rem;

        p {
          font-size: 1.2rem;
          margin: 1rem 0;
          line-height: 1.5rem;
        }

        img {
          width: 100%;
          height: auto;
          margin: 2rem 0;
        }

        .section6card1 {
          width: 50%;
          position: absolute;
          left: 50%;

          h3 {
            color: rgb(255, 102, 242);
            font-size: 1.5rem;
            font-weight: 800;
          }
        }

        .section6card2 {
          width: 50%;
          position: absolute;
          bottom: -10%;

          h3 {
            color: rgb(250, 107, 45);
            font-size: 1.5rem;
            font-weight: 800;
          }
        }
        .section6card3 {
          width: 50%;
          position: absolute;
          bottom: -10%;
          left: 50%;

          h3 {
            color: rgb(148, 67, 255);
            font-size: 1.5rem;
            font-weight: 800;
          }
        }
      }
    }
  }
}
