.atnaContainer {
  min-height: 100vh;
  margin-top: 3rem;

  h2 {
    font-size: 2.5em;
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-weight: 800;
    background: linear-gradient(90deg, #f4a8fe 0%, #696dff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .atnaSolution {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerSection {
      background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.288)),
        url(https://uploads.pixecurity.com/files/AdobeStock_1083240270-1.webp);
      background-size: cover;
      background-position: right;
      width: 100%;
      background-attachment: fixed;
      background-color: #000000;

      .header1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 2rem;
        max-width: 1400px;
        margin: auto;

        img {
          width: 9rem;
          height: auto;
        }

        p {
          font-size: 1.2rem;
          margin: 0.5rem 0;
          line-height: 2rem;
        }
      }
      .header2 {
        display: flex;
        max-width: 1400px;
        margin: auto;
        padding: 2rem 2rem;

        .header2Left {
          width: 100%;
          padding: 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 800;
            background: linear-gradient(90deg, #f4a8fe 0%, #696dff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          p {
            font-size: 1.2rem;
            margin-bottom: 2.8rem;
            line-height: 2rem;
          }
        }

        .header2Right {
          width: 100%;
          padding: 2rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
          height: auto;
          margin: 2rem 0;
        }
      }
    }

    .section1 {
      background: linear-gradient(90deg, #000000, rgb(50, 50, 50));
      width: 100%;
      padding: 2rem 0rem;

      .section1Content {
        height: 100%;
        display: flex;
        margin: auto;

        .section1Right {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          img {
            width: 100%;
            height: auto;
          }
        }
        .section1Left {
          width: 60%;
          // padding-left: 10%;

          .section1Card {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
              font-size: 1.2rem;
              margin: 2rem 0;
              line-height: 2rem;
              padding: 0rem 2rem;
            }

            ul {
              list-style-type: " \2713";
              padding: 0;
              margin: 0;
              font-size: 1.2rem;
              line-height: 2rem;
              margin-left: 4rem;
              li {
                margin-bottom: 2rem;
                position: relative;
                padding-left: 1rem;

                &:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0.5rem;
                  width: 0.5rem;
                  height: 0.5rem;

                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .atnaContainer {
    .atnaSolution {
      .headerSection {
        .header1 {
          padding: 1rem 1rem;
        }
        .header2 {
          flex-direction: column-reverse;
          align-items: center;
          .header2Left {
            width: 100%;
            padding: 2rem 0rem;
          }
          .header2Right {
            width: 100%;
            padding: 2rem 0rem;
          }
        }
      }

      .section1 {
        .section1Content {
          flex-direction: column-reverse;
          align-items: center;
          .section1Right {
            width: 100%;
            padding: 0rem 0rem;
          }
          .section1Left {
            width: 100%;
            .section1Card {
              padding: 0rem 0rem 0rem 0rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 0%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .atnaContainer {
    h2 {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
    margin-top: 0rem;
    padding-top: 2rem;
    .atnaSolution {
      .headerSection {
        padding: 1rem 1rem;
        .header1 {
          img {
            width: 10rem;
          }
        }

        .header2 {
          flex-direction: column-reverse;
          padding: 1rem 1rem;
          padding-bottom: 5rem;

          .header2Left {
            width: 100%;
            padding: 1rem 1rem;
            padding-left: 0%;
          }
          .header2Right {
          }
        }
      }
      .section1 {
        padding: 1rem 0rem;
        .section1Content {
          .section1Left,
          .section1Right {
            width: 90%;
            padding: 1rem;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
