.soronContainer {
  min-height: 100vh;
  margin-top: 3rem;

  h2 {
    font-size: 2.5em;
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-weight: 800;
    color: #ff7f50; /* Fallback solid color */
    background: linear-gradient(90deg, #fb922b 0%, #ef1976 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .soronSolution {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerSection {
      background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.459)),
        url(https://uploads.pixecurity.com/files/AdobeStock_1299330558.png);
      background-size: cover;
      background-position: top left;
      background-attachment: fixed;
      padding-bottom: 20%;

      .header1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 2rem;
        max-width: 1400px;
        margin: auto;

        img {
          width: 14rem;
          height: auto;
        }

        p {
          font-size: 1.2rem;
          margin: 0.5rem 0;
          line-height: 2rem;
        }
      }

      .header2 {
        display: flex;

        .header2Left {
          width: 50%;
          padding: 0rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 10%;

          h3 {
            font-size: 1.6rem;

            margin: 2rem 0;
            line-height: 2rem;
            font-weight: 700;
            color: #fb922b; /* Fallback solid color */
          }

          p {
            font-size: 1.2rem;
            margin: 2rem 0;
            line-height: 2rem;
          }

          ul {
            list-style-type: " \2713";
            padding: 0;
            margin: 0;
            font-size: 1.2rem;
            line-height: 2rem;
            margin-left: 2rem;
            li {
              margin-bottom: 2rem;
              position: relative;
              padding-left: 1.5rem;
              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.5rem;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
              }
            }
          }
        }

        .header2Right {
          width: 50%;
          padding: 0rem 0rem 2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
          height: auto;
          margin: 2rem 0;
        }
      }
    }
    .demoVideo {
      width: 100%;
      display: flex;
      justify-content: center;
      background: linear-gradient(90deg, #000000, rgb(50, 50, 50));

      video {
        position: relative;
        margin-top: -15%;
        box-shadow: 1px 1px 50px #fb932b2d;
        width: 60%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }

    .section {
      width: 100%;
      padding: 3rem 1rem;
      background: linear-gradient(90deg, #000000, rgb(50, 50, 50));
      .sectionContent {
        max-width: 1400px;
        height: 100%;
        display: flex;
        margin: auto;

        .sectionLeft,
        .sectionRight {
          width: 50%;

          text-align: center;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }

          .sectionCard {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #5353531f;
            box-shadow: 1px 1px 50px #fb932b2d;
            border-radius: 10px;

            h3 {
              font-size: 1.6rem;
              padding: 2rem 0;
              font-weight: 700;
            }
            p {
              font-size: 1.2rem;
              padding: 0.5rem 1rem;
              line-height: 2rem;
            }
          }
        }
      }
    }

    .section6 {
      background: linear-gradient(90deg, #000000, rgb(50, 50, 50));
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 5rem;
      padding-bottom: 12rem;

      height: 100%;

      .section6content {
        max-width: 1400px;
        position: relative;
        padding: 0 1rem;

        p {
          font-size: 1.2rem;
          margin: 1rem 0;
          line-height: 1.5rem;
        }

        img {
          width: 100%;
          height: auto;
          margin: 2rem 0;
        }

        .section6card1 {
          width: 50%;
          position: absolute;
          left: 50%;

          h3 {
            color: rgb(255, 102, 242);
            font-size: 1.5rem;
            font-weight: 800;
          }
        }

        .section6card2 {
          width: 50%;
          position: absolute;
          bottom: -10%;

          h3 {
            color: rgb(250, 107, 45);
            font-size: 1.5rem;
            font-weight: 800;
          }
        }
        .section6card3 {
          width: 50%;
          position: absolute;
          bottom: -10%;
          left: 50%;

          h3 {
            color: rgb(148, 67, 255);
            font-size: 1.5rem;
            font-weight: 800;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .soronContainer {
    h2 {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
    margin-top: 0rem;
    padding-top: 2rem;
    .soronSolution {
      .headerSection {
        padding: 1rem 1rem;
        .header1 {
          img {
            width: 10rem;
          }
        }

        .header2 {
          flex-direction: column-reverse;
          padding: 1rem 1rem;
          padding-bottom: 5rem;

          .header2Left {
            width: 100%;
            padding: 1rem 1rem;
            padding-left : 0%;
            
          }
          .header2Right {
            display: none;
          }
        }
      }
      .demoVideo {
      padding-top: 3rem;
        width: 100%;
        height: 100%;

        video {
          width: 90%;
         
        }
      }
      .section {
        padding: 1rem 0rem;
        .sectionContent {
          flex-direction: column;

          .sectionLeft,
          .sectionRight {
            width: 90%;
            padding: 1rem;
            img {
              width: 100%;
            }
          }
        }
      }

      .section6 {
        padding-top: 2rem;
        .section6content {
          .section6card1,
          .section6card2,
          .section6card3 {
            display: none;
          }
        }
      }
    }
  }
}
