.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.682);
  z-index: 1000;

  .modalContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    position: absolute;

    .closeModal {
      top: 10px;
      float: right;
      cursor: pointer;
      color: rgb(122, 66, 66);
      background-color: #f0efef;
      padding: 10px;
    }

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
      color: rgba(0, 0, 0, 0.918);
    }

    form {
      display: flex;
      flex-direction: column;
      label {
        font-size: 16px;
        margin-bottom: 5px;
        color: rgb(106, 106, 106);
      }
      input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
      }

      .submitBtn {
        background-color: #870bff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        transition: all 0.3s;

        &:hover {
          background-color: #a143ff;
          color: #fff;
        }
      }
    }

    .error {
      color: red;
      margin-top: 10px;
    }

    .success {
      color: green;
      margin-top: 10px;
    }
  }
}
