// keyframe pulse
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #f2edeb;
  background-color: #03084e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 20px;
  height: 5rem;

  .headerLogo {
    padding-left: 1rem;
    img {
      width: 6rem;
      height: 4.5rem;
      cursor: pointer;

      transition: 0.3s;

      &:hover {
        scale: 1.03;
      }
    }
  }

  .headerLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      gap: 1rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
     

        a {
          text-decoration: none;
          color: white;
          padding: 15px 15px;
          border-radius: 5px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;

          &:hover {
            background-color: #a638ff;
            color: white;
            text-align: center;
            width: 100%;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
          }
        }

        .linkedinIcon {
          border: none;
          width: 3rem;
          padding-right: 11rem;


          &:hover {
            background-color: transparent;
              width: 3rem;
          }
        }
      }
      .switchContainer {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
      }
    }

    .dropdown {
      position: relative;
    }

    .dropdownTitle {
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem 1rem;
    }

    .dropdownMenu {
      display: none;
      position: absolute;
      background-color: #03084e;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      list-style: none;
      margin: 0;
      padding: 0.5rem 0;
      top: 100%;
      left: 0;
      z-index: 1000;
      border-radius: 0px 00px 20px 20px;
      -webkit-border-radius: 0px 00px 20px 20px;
      -moz-border-radius: 0px 00px 20px 20px;
      -ms-border-radius: 0px 00px 20px 20px;
      -o-border-radius: 0px 00px 20px 20px;
    }

    .dropdownMenu li {
      padding: 0.1rem 1rem;
      white-space: nowrap;

      img {
        width: auto;
        height: 4rem;
        margin-right: 0.5rem;
      }
    }

    .dropdownMenu li:hover {
      background-color: #03084e;
    }

    .dropdown:hover .dropdownMenu {
      display: block;
    }

    .demoBtn {
      position: absolute;
      right: 5rem;
      top: 150%;
      color: white;
      background-color: #870bff;
      padding: 1rem 1rem;
      text-align: center;
      width: 12rem;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: none;
      border: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      vertical-align: auto;
      display: flex;

      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      i {
        margin-right: 0.8rem;
        font-size: 1.2em;
        color: #ffd67d;
        animation: pulse 2s infinite;
        -webkit-animation: pulse 2s infinite;
      }
      &:hover {
        background-color: white;
        color: #870bff;
        
      }
    }
  }

  .burgerMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 35px;
    cursor: pointer;
    z-index: 1100;

    .line {
      width: 35px;
      height: 4px;
      background-color: white;
      border-radius: 2px;
    }
  }

  @media screen and (max-width: 1024px) {
    height: 5rem;

    .headerLogo {
      img {
        width: 4.7rem;
        height: 3.5rem;
      }
    }
    .burgerMenu {
      display: flex;
      padding-right: 4rem;
    }
  

    .headerLinks {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.873);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      ul {
        flex-direction: column;

        li a {
          color: white;
          font-size: 1rem;
        }
        .linkedinIcon {
          border: none;
          position: absolute;
          bottom: 2rem;
          right: -3.5rem;

          &:hover {
            background-color: transparent;
          }
        }
        .switchContainer {
          position: absolute;
          top: 15%;
          right: 50px;
          transform: translateY(-50%);
        }

      }
      .dropdownMenu {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.873);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        list-style: none;
        margin: 0;
        padding: 0.5rem 0;
        top: -10rem;
        left: 0;
        z-index: 1000;
        border-radius: 0px 00px 20px 20px;
        -webkit-border-radius: 0px 00px 20px 20px;
        -moz-border-radius: 0px 00px 20px 20px;
        -ms-border-radius: 0px 00px 20px 20px;
        -o-border-radius: 0px 00px 20px 20px;
      }
    }
    .dropdownMenu li:hover {
      background-color: none;
    }
  }

}
