@keyframes backgroundMove {
  0% {
    background-position: top 10% left 35%;
  }
  100% {
    background-position: center left 45%;
  }
}

@keyframes fadeZoom {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.error {
  color: rgba(255, 0, 0, 0.719);
  font-size: 0.9rem;
  margin-top: -5px;
  margin-bottom: 10px;
}

.contactContainer {
  padding-top: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 7rem 2rem 2rem 2rem;
  background: linear-gradient(
    120deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.788) 100%
  );

  .contactContent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #ffffffee;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    .contactLeft {
      min-height: 80vh;
      width: 50%;
      height: auto;
      background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0)),
        url(https://uploads.pixecurity.com/files/AdobeStock_612500470.jpeg);
      background-size: cover;
      background-position: center left 50%;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      animation: backgroundMove 10s ease-in-out infinite alternate;
      border-radius: 30px;
      -webkit-animation: backgroundMove 10s ease-in-out infinite alternate;
      -moz-animation: backgroundMove 20s ease-in-out infinite alternate;
      text-align: center;


      img {
        width: 30%;
        height: auto;
        margin-top: 2rem;
        position : absolute;
      
      }
    }

    .contactRight {
      width: 50%;
      background-color: linear-gradient(
        45deg,
        rgb(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.716) 100%
      );

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 00px 30px 30px 0px;
      -webkit-border-radius: 00px 30px 30px 0px;
      -moz-border-radius: 00px 30px 30px 0px;
      -ms-border-radius: 00px 30px 30px 0px;
      -o-border-radius: 00px 30px 30px 0px;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
        color: #870bff;
        width: 90%;
        line-height: 2rem;
      }
      h2 {
        font-size: 2.7rem;
        margin-bottom: 2rem;
        font-weight: 900;
        color: #870bff;
        width: 90%;
        line-height: 2.5rem;
      }
      h3 {
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #3d3d3d;
        width: 90%;
        line-height: 1.6rem;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        padding: 30px;
        border-radius: 15px;
      }

      input,
      textarea {
        padding: 01rem;
        font-size: 1rem;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        border: 1px solid #ccccccc0;
      }
      textarea {
        height: 150px;
      }

      button {
        color: white;
        background-color: #870bff;
        border: 1px solid #870bff;
        padding: 1rem 2rem;
        text-align: center;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        cursor: pointer;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        &:hover {
          background-color: white;
          color: #870bff;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .contactContainer {
    padding: 6rem 1rem 2rem 1rem;
    .contactContent {
      flex-direction: column-reverse;
      padding: 0, 5rem;
      .contactLeft {
        width: 100%;
        min-height: 30vh;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.836),
            rgba(0, 0, 0, 0)
          ),
          url(https://uploads.pixecurity.com/files/AdobeStock_612500470.jpeg);
        background-size: cover;
        background-position: center left 50%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        animation: backgroundMove 10s ease-in-out infinite alternate;
        border-radius: 30px;
      }
      .contactRight {
        width: 100%;
        min-height: auto;

        h1 {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
          font-weight: 700;
          color: #870bff;
          width: 90%;
          line-height: 2rem;
          margin-top: 1rem;
        }
        h2 {
          font-size: 2rem;
          margin-bottom: 2rem;
          font-weight: 900;
          color: #870bff;
          width: 90%;
          line-height: 2.5rem;
        }
      }
    }
  }
}
