.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.682);
  z-index: 1000;

  .modalContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    position: absolute;

    video {
      width: 100%;
      height: 18rem;
      object-fit: cover;
      border-radius: 10px;
    }

    .closeModal {
      top: 10px;
      float: right;
      font-weight: 500;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      color: #870bff;
      background-color: #f0efef;
      padding: 10px 15px;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        background-color: #e0e0e0;
      }
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 600;
      color: #870bff;
      text-align: center;
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 1.1rem;
      color: rgba(83, 82, 82, 0.918);
      line-height: 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      label {
        font-size: 16px;
        margin-bottom: 5px;
        color: rgb(106, 106, 106);
      }
      input {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
      }

      .submitBtn {
        margin-top: 1rem;
        background-color: #870bff;
        border: #870bff solid 1px;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        transition: all 0.3s;

        &:hover {
          border: #870bff solid 1px;
          background-color: #ffffff;
          color: #870bff;
        }
      }
    }

    .error {
      color: red;
      margin-top: 10px;
    }

    .success {
      color: green;
      margin-top: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .modalContainer {
    .modalContent {
      top: 55%;
      width: 80%;

      video {
        display: none;
      }
    }
  }
}
