
  
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image : url("/assets/test2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    
    
    
    .homeLogo5 {
          // max-width: 200px; // Ajustez la taille maximale si nécessaire
          width: 12rem;
          height: auto;
          margin-bottom: 20px;
          animation: pulse infinite;
          -webkit-animation: pulse 12s infinite;
        
          
    }

    .homeLinks {
      display: flex;
  
      justify-content: top;
      align-items: top ;
     
      gap: 20px;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
}
  