// Keyframes optimisés
@keyframes balance {
  0%,
  100% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Remplit la hauteur de la fenêtre
  background-color: #ffffff;

  padding-top: 3rem;

  .section1 {
    min-height: 100vh;
    background-image: url("https://uploads.pixecurity.com/files/1.webp");
    // background-image: url("https://uploads.pixecurity.com/files/2.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    background-attachment: fixed; /* Ajout pour parallax */
    justify-content: center;
    align-items: center;

    .section1left {
      padding-left: 10%;
      display: flex;
      width: 60%;
      flex-direction: column;

      h2 {
        // color: #f7b422;
        color: #ffd67d;
        font-weight: 800;
        font-size: 4rem;
        letter-spacing: 2px;
        font-weight: 00;
        margin-bottom: 2rem;
        border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -ms-border-radius: 10px 10px 10px 10px;
        -o-border-radius: 10px 10px 10px 10px;
      }

      h1 {
        color: white;
        font-size: 1.9rem;
        font-weight: 500;
        padding-top: 0rem;
        padding-bottom: 2rem;
      }

      p {
        color: white;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        line-height: 1.7rem;
        font-weight: 400;
      }

      .cta {
        margin-top: 2rem;

        display: inline-flex;
        align-items: center;
        gap: 3rem;
        width: 100%;

        .ctaButton, .seeSolutions {
          color: #870bff;
          background-color: white;
          padding: 1rem 2rem;
          text-align: center;
          width: 17rem;
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          margin-bottom: 1rem;
          border: none;
          cursor : pointer;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;

          &:hover {
            background-color: #870bff;
            color: white;
          }
        }
      }

      a {
        text-decoration: none;
      }
    }
    .section1right {
      width: 40%;
      display: flex;

      img {
        height: 25rem;
        width: 25rem;
      }
    }
  }

  .section2 {
    min-height: 40vh;
    background-color: #fffaf0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .section2content {
      max-width: 1400px;
      margin: 0 auto;

      h3 {
        color: black;
        font-size: 3.5rem;
        font-weight: 800;
      }
      h4 {
        color: #870bff;
        font-size: 1.4rem;
        font-weight: 600;

        padding-top: 1.5rem;
      }

      p {
        padding-top: 3rem;
        color: rgb(98, 98, 98);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }
  }

  .section3 {
    min-height: 55rem;
    background-color: #ffff;
    justify-content: center;
    align-items: center;

    .section3content {
      max-width: 1400px;
      text-align: center;
      margin: 4rem auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
        padding-bottom: 2rem;
      }

      h4 {
        color: black;
        letter-spacing: 1px;
        font-size: 3rem;
        font-weight: 800;
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      p {
        color: rgb(105, 105, 105);

        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
      }

      

      .cards {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;

        a { 
          z-index: 1000;
          text-decoration: none;

          .card {
          width: 80%;
          height : 100%;
          display: flex;
          gap: 4rem;
          justify-content: center;
          flex-direction: column;
          align-items: center;

          background-color: #fcfaf5;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          transition: 0.4s;
          cursor: pointer;
          padding: 2rem 2rem;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          }

          img {
            // width: 100%;
            height: 150px;
            border-radius: 10px 10px 0 0;
          }
        }
      }
      
      }
    }
  }

  .section4 {
    min-height: 80rem;
    background-image: url("https://uploads.pixecurity.com/files/wave.webp");
    background-size: cover;
    background-attachment: fixed; /* Ajout pour parallax */
    margin-top: -8rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: left;
    padding: 2rem;

    .section4content {
      max-width: 1400px;
      margin: 0 auto;

      h2 {
        // color: #f7b422;
        color: #ffd67d;
        font-size: 4rem;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 2rem;
      }

      p {
        color: white;

        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.6;
        padding-top: 1rem;
      }
    }
    iframe {
      padding-top: 5rem;
      width: 1080px;
      height: 608px;
    }
  }

  .section5 {
    min-height: 40rem;
    background-color: #fffaf0;
    display: flex;
    justify-content: center;

    .section5content {
      width: 100%;
      display: flex;
      max-width: 1400px;
      margin: 4rem auto;
      justify-content: space-around;
      align-items: center;

      .section5left {
        width: 45%;

        img {
          width: 100%;
          height: auto;
          animation: balance 2s infinite;
          -webkit-animation: balance 2s infinite;
        }
      }
      .section5right {
        width: 50%;

        h2 {
          color: #870bff;
          font-size: 3rem;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        p {
          color: black;

          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.6;
          padding-top: 1rem;
        }
        .bookDemo {
          color: white;
          background-color: #870bff;
          border-radius: 30px;
          padding: 1rem 2rem;
          text-align: center;
          margin-top: 2rem;
          width: 17rem;
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          margin-bottom: 1rem;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          cursor: pointer;
          border: 1px solid white;

          &:hover {
            background-color: white;
            color: #870bff;
            border: 1px solid #870bff;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .homeContainer {
    .section1 {
      flex-direction: column-reverse;

      .section1left {
        padding-left: 0;
        width: 80%;
        text-align: center;

        h2 {
          font-size: 3rem;
          margin-top: 2rem;
        }
        h1 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.1rem;
        }

        .cta {
          flex-direction: column;
          gap: 1rem;
          width: 100%;

          .ctaButton {
            width: 100%;
          }
        }
      }

      .section1right {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          height: 50%;
          width: 50%;
        }
      }
    }

    .section2 {
      .section2content {
        h1 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 2.5rem;
        }
        h4 {
          font-size: 1.2rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    .section3 {
      .section3content {
        width: 90%;
        h4 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
        .logo {
          width: 15rem;
        }
        .cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    .section4 {
      min-height: 100vh;
      padding: 1rem;
      .section4content {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1rem;
        }
      }
      iframe {
        width: 100%;
        height: 400px;
      }
    }

    .section5 {
      .section5content {
        flex-direction: column;
        gap: 2rem;
        width: 80%;

        .section5left {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 30rem;
          }
        }
        .section5right {
          width: 100%;

          h2 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .homeContainer {
    .section1 {
      .section1left {
        h2 {
          font-size: 2.5rem;
        }
        h1 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1rem;
        }
      }

      .section1right {
        img {
          height: 70%;
          width: 70%;
        }
      }
    }
    .section2 {
      .section2content {
        h1 {
          font-size: 2rem;
        }
        h3 {
          font-size: 2rem;
        }
        h4 {
          font-size: 1rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    .section3 {
      .section3content {
        h4 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
        .logo {
          width: 12rem;
        }
        .cards {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .section4 {
      .section4content {
        h2 {
          padding-top: 10rem;
          font-size: 2.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
      iframe {
        width: 100%;
        height: 300px;
      }
    }

    .section5 {
      .section5content {
        .section5left {
          img {
            width: 20rem;
          }
        }
        .section5right {
          h2 {
            font-size: 2rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .homeContainer {
    .section1 {
      min-height: 50rem;
      .section1left {
        h2 {
          font-size: 2rem;
        }
        h1 {
          font-size: 1.2rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    .section2 {
      .section2content {
        h1 {
          font-size: 1.5rem;
        }
        h3 {
          font-size: 1.5rem;
        }
        h4 {
          font-size: 1rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    .section3 {
      .section3content {
        h4 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
        .logo {
          width: 10rem;
        }
        .cards {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
    .section4 {
      .section4content {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      iframe {
        width: 100%;
        height: 200px;
      }
    }

    .section5 {
      .section5content {
        .section5left {
          img {
            width: 15rem;
          }
        }
        .section5right {
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
